<header>
	<a routerLink="">Go back</a>
	<div class="title" *ngIf="currentQuestion">{{currentQuestion.title}}</div>
</header>
<div class="content-wrapper">
	<section>
		<app-question-list [questionList]="questionList" [question]="currentQuestion"></app-question-list>
	</section>

	<section>
		<ng-container *ngIf="currentQuestion">
			<app-progress-bar [questionList]="questionList" [question]="currentQuestion"></app-progress-bar>

			<app-question-form [question]="currentQuestion"></app-question-form>
		</ng-container>
	</section>
</div>
