<div class="question-list">
	<div class="item" *ngFor="let item of questionList; trackBy: trackByFn" [routerLink]="['/','questions', item.id]">
		<div class="title">{{item.title}}</div>

		<div class="content" *ngIf="question && (item.id === question.id)">

			<ng-container *ngIf="item.htmlLeftQuestionContent">
				<div class="question-content" [innerHTML]="item.htmlLeftQuestionContent"></div>
			</ng-container>

			<ng-container *ngIf="item.formPosition === formPositionType.left">
				<app-dynamic-form [question]="item"></app-dynamic-form>
			</ng-container>
		</div>
	</div>
</div>
