:host {
  .question-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;

    .item {
      padding: 10px;
      border: 1px solid;
      cursor: pointer;
      outline: none;
    }
  }

  .question-content {
    display: block;
    margin: 20px 0;
  }
}
