:host {
  display: flex;

  .form-item {
    margin: 10px 0;
    display: flex;

    .answer {
      display: inline-flex;
    }

    label {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      input {
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }
}
